/build/
src/.vs/

src/*.exe
src/*.pdb
src/*.out
src/*.app
src/*.dSYM/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb

CMakeFiles/
CMakeCache.txt
CMakeLists.txt
cmake_install.cmake
Makefile

CMakeList.txt
